extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let marketid = toShow._id 
    - let itemType = toShow.itemType 
    - let Quantity = toShow.Quantity 
    - let price = toShow.price 
    - let actionid = "/resource/market/" + marketid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='marketAttr mr-3') market ID is: 
        div #{marketid} 
      div.row 
        div(class='marketAttr mr-3') market Type is: 
        div #{itemType} 
      div.row 
        div(class='marketAttr mr-3') market price is: 
        div #{price} 
      div.row 
        div(class='marketAttr mr-3') market Quantity is: 
        div #{Quantity} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the market collection 
      window.location.href='/market' 
    } 
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/market'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }