extends layout 
 
block content 
  h1= title 
 
  - let marketid = toShow._id 
  - let itemType = toShow.itemType
  - let Quantity = toShow.Quantity 
  - let price = toShow.price 
  div 
    div.row 
      div(class='marketAttr mr-3') market ID is: 
      div #{marketid} 
    div.row 
      div(class='marketAttr mr-3') market Type is: 
      div #{itemType} 
    div.row 
      div(class='marketAttr mr-3') market Quantity is: 
      div #{Quantity} 
    div.row 
      div(class='marketAttr mr-3') market price is: 
      div #{price} 
    
    button(class="btn btn-danger m-2" onclick="detailPageOnid()") Detail 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the market collection 
      window.location.href='/market' 
    }

  script.
    function detailPageOnid() {
      console.log("starting detailPage")
      // detailPage first
      fetch(actionid, {
        method: 'GET'      // Don't need a body for the detailPage
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("detailPage succeded")
        window.location.href='/market'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("detailPage failed " + error )
      });
    }