extends layout 
 
block content 
  h1= title 
 
  - let marketid = toShow._id 
  - let itemType = toShow.itemType
  - let Quantity = toShow.Quantity 
  - let price = toShow.price 
  div 
    div.row 
      div(class='marketAttr mr-3') market ID is: 
      div #{marketid} 
    div.row 
      div(class='marketAttr mr-3') market Type is: 
      div #{itemType} 
    div.row 
      div(class='marketAttr mr-3') market Quantity is: 
      div #{Quantity} 
    div.row 
      div(class='marketAttr mr-3') market price is: 
      div #{price} 